body {
    background-color: rgb(175, 166, 255);

}

.GKpic{
    border-radius: 50%;
}

.GKpic:hover{
    opacity: 0.5;
}

.inst{
    font-size: xx-small;

}

.header {
    font-size: large;
    text-align: center;
}

.para {
    font-size: 16px;
    line-break: inherit;

}

.contact-para {
    font-size: 16px;
    line-break: auto;

}

.picty  {
    width: 50px;
    height: 50px;
}

.picty img {
  
    max-width: 100%;
    height: auto;
    
}

.picty:hover{
    opacity: 0.5;
}

.phone-img  {
    width: 25px;
    height: 25px;
}

.phone-img img {
  
    max-width: 100%;
    height: auto;
    
}

textarea {
    resize: none;
}
